<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net471" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.23.0" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.6.0-preview2-26905-02" targetFramework="net471" />
</packages>